* { box-sizing: border-box;}
body{
  background-image:url(imagenes/fondo2.jpg);
}
header {
  padding-left:45%;

}
.img-left{
  float:left;
  width: 200px;
  padding-top: 2%;
  margin: 5px;
}
ul{
  float: left;
}
.primero{
  text-align: left;
  padding-left: 250px;
}
.galletas{
  text-align:left;
  float: left;
  margin-left: 20px;
}
#column-right{
  width: 33%;
   float: right;
}

.clearfix { clear: both; }
