* { box-sizing: border-box;}

header {
  padding-left:45%;
}

.nav {
  background: orange;
  width: 100%;
}
.nav ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
   background-color: #ffdfef;

}
  .nav ul li {
      list-style: none;

  }
  .nav ul li a {
    text-decoration: none;
    float: left;
    text-align: center;
    display: block;
    padding: 10px 20px;
    color: black;

  }
  .nav ul li a:hover {
    color: blue;
  }
  input[type=search]{
    float:right;
    margin-right:10px;


  }

#search-button { float: right; }

.img-left{
  float:left;
  width: 200px;
  padding-top: 2%;
  margin: 5px;
}
.img-right{
  float: right;
  width: 200px;
  padding-top:8%;
  margin-right: 335px
}
.img-top{
  width: 200px;
  margin-top: 60px;
  margin-right: 700px;
  margin-left: 5px;
float:left;
}

#sidebar-right{
    width: 25%;
      float: right;


}

#content-left{
    width: 58%;
      float: left;
 border-right: 3px solid pink;


}



#content { background-image: url("imagenes/fondo3.jpg");}

#footer{
  width: 100%;
  height:100px;
  float: left;
  background-image: url("imagenes/fondo5.jpeg");
  margin-top: 30%;
  border-top: 3px solid pink;
}
.fresa {

  float: right;
  margin-right:420px;
  margin-top: -180px;

}
.fresa2{
  float: left;
  margin-left: 215px;
  margin-top: -120px;

}
.galleta{
  float: right;
  margin-right:100px;
  margin-top: -160px;
}
.galleta1{
  float: right;
  margin-right: 100px;
  margin-top: -80px;

}
.galleta2{
  float: right;
  margin-right: 20px;
  margin-top: -40px;
}
.frame{
  margin-top: 30px;
  float: right;
  margin-right: 250px;
}
.frame2{
  margin-top: 30px;
  margin-left: 20px;
}
.frame3{
    margin-top: 20px;
    margin-right: 250px;
    float: right;
}
.clearfix { clear: both; }
