* { box-sizing: border-box;}

header {
  padding-left:45%;
}

.nav {
  background: orange;
  width: 100%;
}
.nav ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
   background-color: #f0f0f0;

}
  .nav ul li {
      list-style: none;

  }
  .nav ul li a {
    text-decoration: none;
    float: left;
    text-align: center;
    display: block;
    padding: 10px 20px;
    color: black;

  }
  .nav ul li a:hover {
    color: blue;
  }
  input[type=search]{
    float:right;
    margin-right:10px;

  }

#search-button { float: right; }

.img-left{
  float:left;
  width: 200px;
  padding-top: 2%;
  margin: 5px;
}
.img-right{
  float: right;
  width: 200px;
  padding-top: 2%;
  margin-right: 250px
}
article{
  float: left;
  padding-left: 2%;
  color: black;
}
#sidebar-right{
    width: 25%;
      float: right;
}
.clearfix { clear: both; }
